@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Spectral:ital,wght@1,800&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: "Spectral", serif;
  color: white;
  font-size: 5vw;
}

h3 {
  font-family: "Space Mono", monospace;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
}
